body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 1% 10%;
  top: 0;
  margin-top: 0;
}

ul {
	list-style: none;
}


.mainContainer {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin-left: 3em;
}
.single{
	justify-content: center;
}

/*.mainContainer {
	display: flex;  
    text-align: center;
    padding: 1em 1em; 

}*/


h1 {
	margin-left: 3em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

img {
	width: 30%;
	height: auto;
}


footer {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 1vh;
}
