.display {
  text-align: center;
  margin-top: 3em;
}

.counter {
  font-size: 4em;
  margin-bottom: 0.3em;
}

button {
  background-color: green;
  border-radius: 25%;
  font-size: 3em;
  color: white; 
  width: 6%;

}
