body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 1% 10%;
  top: 0;
  margin-top: 0;
}

ul {
	list-style: none;
}

.main {
	text-align: center;
	/*display: flex;
	justify-content: space-between;
	/*grid-template-columns: auto auto auto;
	grid-template-rows: auto;*/

}
/*.mainContainer {
	background-color: #e7dcf6;   how to include title as well
	display: flex;
	justify-content: space-between;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
}*/

.mainContainer {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3,1fr);
}


.sale {
	color: red;
	display: inline-block;
	/*margin-right: 2em;*/
	/*border-style: dashed;		puts a border on other 2 elements as well*/
	font-size: 0.8em;
	padding-right: 0.5em;
	-ms-transform: rotate(-12deg);  /*IE 9*/
  	-webkit-transform: rotate(-12deg);  /*Safari */
  	transform: rotate(-12deg);
}

h1 {
	margin-left: 7em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

img {
	width: 30%;
	height: auto;
}

hr {
	width: 35%;
	text-align: center;
	
}

.bestTitle {
	color: red;
}


.bestsellers {
	text-align: center;
}

/*.best {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
}*/
footer {
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 1vh;
}

